<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>

        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {{!-- dropdown --}}
  <div class="dropdown-outer d-flex justify-content-end">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Sort
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/sort/name/asc">名稱 A→Z</a>
        <a class="dropdown-item" href="/sort/name/desc">名稱 Z→A</a>
        <a class="dropdown-item" href="/sort/rating/desc">評價 高→低</a>
        <a class="dropdown-item" href="/sort/rating/asc">評價 低→高</a>
      </div>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class=" col-12 mx-auto">
      <div class="card-columns">
        {{# each restaurantLists}}
        <div class="card mb-3 ">
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <form id="index-delete" action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
              <button type="submit" class="close" id="restaurantDelete" onclick="return confirmWhileDelete()">
                <span aria-hidden="true">×</span>
              </button>
            </form>
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="bottom-body d-flex align-items-center justify-content-around">
              <div class="card-body-left py-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>
                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>
                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>

              </div>
              <div class="card-body-right">
                <a class="edit-body" href="/restaurants/edit/{{this._id}}">
                  <button id="edit" type="submit" class="btn btn-info">編輯餐廳</button>
                </a>
              </div>
            </div>
          </a>
        </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>

<!-- Restaurant Modal -->
<div class="modal fade restaurantAdd-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content new-page">

      <div class="modal-header ">
        <h3 class="modal-title" id="restaurant-modal-title">新增餐廳</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form id="form" action="/restaurants/create" method="POST">
        <div class="modal-body row" id="restaurant-modal-body">
          <div class="form-group col-6">
            <label for="name">姓名:</label>
            <input class="modal-input" type="text" id="name" name="name" placeholder="請輸入名字 ..." required>
          </div>

          <div class="form-group col-6">
            <label for="phone">電話號碼:</label>
            <input class="modal-input" type="text" id="phone" name="phone" placeholder="請輸入電話號碼 ...">
          </div>

          <div class="form-group col-6">
            <label for="category">類別</label>
            <input list="category" class="form-control" name="category" placeholder="日本料理">
            <datalist id="category">
              <option>日本料理</option>
              <option>中東料理</option>
              <option>義式餐廳</option>
              <option>美式</option>
              <option>酒吧</option>
              <option>咖啡</option>
            </datalist>
          </div>

          <div class="form-group col-2">
            <label for="rating">Rate:</label>
            <input type="number" class="form-control" id="rating" name="rating" min="0" max="5.0" step="0.1" value="3">
          </div>

          <div class="form-group col-12">
            <label for="location">地址:</label>
            <input class="modal-input" type="text" id="location" name="location" placeholder="請填寫地址 ...">
          </div>

          <div class="form-group col-12">
            <label for="google_map">Goole_map:</label>
            <input class="modal-input" type="text" id="google_map" name="google_map"
              placeholder="例: https://www.google.com.tw/maps ...">
          </div>

          <div class="form-group col-12">
            <label for="image">圖片:</label>
            <input class="modal-input" type="text" id="image" name="image" placeholder="請上傳圖片網址 ...">
          </div>

          <div class="form-group col-12 ">
            <label for="description" class="form-label">餐廳描述</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function confirmWhileDelete() {
    return confirm("確定要刪除嗎?")
  }
</script>